body {
  font-family: arial;
}

#container {
  width: 380px;
  margin: 0 auto;
}

/* h1 {
    text-indent: -9999px;
    background: url(../images/logo.gif) no-repeat;
    width: 250px;
    height: 70px;
    margin-left: 65px;
} */

#container p {
  /* text-align: justify; */
  line-height: 1.3em;
}

aside p {
  font-size: 0.7em;
}

a {
  color: #2a6496;
}
